*{ font-family: 'Andale Mono', Arial, sans-serif; }
body{
	padding:20px;
}
.open-terms{
	cursor: pointer;
}
.terms{
	display:none;
	list-style-type: none;
}
dt{
	margin-top:10px;
}
dd{
	margin-top:5px;
}
mark{
	background: #FAF7A4;
}
.highlight{
	-webkit-animation: highlight 2s; 
  animation: highlight 2s;
}

@-webkit-keyframes highlight {
    from {background: #BCA9F5;}
    to {background: none;}
} 

@keyframes highlight {
    from {background: #BCA9F5;}
    to {background: none;}
}
